@model List<MvcCv.Models.Entity.TblInterests>
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        @foreach (var item in Model)
        {
            <h2 class="mb-5">İlgi Alanlarım</h2>
            <p>@item.Descripiton</p>
            <p class="mb-0">@item.Description</p>
        }

    </div>
</section>
