
<section class="resume-section" id="contact">
    <div class="resume-section-content">
        <form method="post">
            <h2 class="mb-5">İletişim</h2>
            <label>Ad-Soyad</label>
            <input type="text" class="form-control" name="NameSurName" />
            <br />
            <label>Mail</label>
            <input type="email" class="form-control" name="Email"/>
            <br />
            <label>Konu</label>
            <input type="text"  class="form-control" name="Subject"/>
            <br />
            <label>Mesaj</label>
            <input type="text" class="form-control" name="Message"/>
            <br />
            <button class="btn btn-info">Gönder</button>
        </form>
    </div>
</section>

